@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");
:root {
  --gradient: linear-gradient(140deg, rgb(255, 255, 255), rgb(245, 214, 73));
  --gradient-background: linear-gradient(140deg, rgba(120, 192, 224, 1), rgba(68, 157, 209, 1), rgba(21, 5, 120, 1));
}

.app-background {
  background-image: var(--gradient-background);
  background-blend-mode: normal;
  background-size: 300%;
  background-position: left;
  animation: bg-animation 40s infinite alternate-reverse ease;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  0% {
    background-position: left;
  }
}
.visibility {
  visibility: visible;
  opacity: 1;
}

.transition-slow {
  transition: all 5s ease;
}

.transition {
  transition: opacity 2s ease;
}

.fast-transition {
  transition: all 0.4s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.login-welcome {
  overflow: hidden;
  font-size: 80px;
  margin: 0;
}

.top-center-error-alert {
  top: calc(50% - 60px);
  width: 90%;
  opacity: 0.7;
  color: black;
  background-color: red;
}

.opacity-form {
  background-color: rgba(33, 27, 46, 0);
}

.text-color-text {
  color: transparent;
  background-image: var(--gradient);
  background-blend-mode: normal;
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 300%;
  animation: bg-animation 40s infinite alternate-reverse;
}

.border-bottom-saffron {
  border-bottom: 3px solid #f4e7ac;
}

.t-shadow {
  text-shadow: 2px 2px 4px black;
}

.access-button {
  color: black;
  background-color: #f4e7ac;
}

.css-1hbyad5-MuiTypography-root {
  display: none;
}

.css-4pax7l-MuiPickersLayout-root {
  box-shadow: 3px 3px 20px 1px;
}

.active {
  border: 1px solid white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.background-op {
  background-color: rgba(255, 255, 255, 0.4);
}

.date fieldset {
  border-color: white !important;
}

.form-button {
  padding: 0.7rem 1rem;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  background-color: transparent;
  text-shadow: 2px 2px 10px white;
}
.form-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
  text-shadow: 2px 2px 4px black;
}
.form-button:active {
  border: 2px solid #f4e7ac;
}

.form-button-add {
  width: 1.4rem;
  height: 1.4rem;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  background-color: transparent;
  text-shadow: 2px 2px 10px white;
}
.form-button-add:hover {
  background-color: rgba(255, 255, 255, 0.25);
  text-shadow: 2px 2px 4px black;
}
.form-button-add:active {
  border: 2px solid #f4e7ac;
}

.border-main {
  border-radius: 15px;
  box-shadow: 12px 12px 20px 5px rgba(0, 0, 0, 0.3);
}

.order-errors {
  order: 0;
}

.order-btn {
  order: 1;
}

.loader-page {
  position: absolute;
  height: 18em;
  width: 18em;
  top: -76px;
  left: 170px;
  z-index: 0;
  border-radius: 50%;
  border: 5px solid;
  border-color: #f4e7ac;
  border-top-color: transparent;
  animation: loader 1s linear infinite;
}
@media screen and (max-width: 768px) {
  .loader-page {
    height: 12em;
    width: 12em;
    top: -60px;
    left: 90px;
  }
}
@media screen and (max-width: 480px) {
  .loader-page {
    height: 8em;
    width: 8em;
    top: -40px;
    left: 60px;
  }
}

@keyframes loader {
  20% {
    border-color: rgba(244, 231, 172, 0.368627451);
    border-top-color: transparent;
  }
  60% {
    border-color: #ff9100;
    border-top-color: transparent;
  }
  100% {
    transform: rotate(360deg);
  }
}
.text-loader {
  font-size: 5em;
}
@media screen and (max-width: 768px) {
  .text-loader {
    font-size: 3em; /* Riduci la dimensione del testo per schermi più piccoli */
  }
}
@media screen and (max-width: 480px) {
  .text-loader {
    font-size: 2em; /* Ulteriore riduzione per dispositivi molto piccoli */
  }
}

.button-info {
  background-color: #e3d026;
  border: 0;
  border-radius: 15px;
}

.button-info:hover {
  background-color: #a29415;
}

.btn-transition {
  transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GFS Didot", serif;
}

p,
a,
li {
  font-family: "Open Sans", sans-serif;
}

.icon {
  transition: transform 0.3s ease-in-out;
}

.button-info:hover .icon {
  animation: moveLeftRight 0.5s ease-in-out infinite;
}

@keyframes moveLeftRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
}
.elevation:hover {
  transform: scale(1.05);
}

.single-card-height {
  height: 45vh;
}

.button-submit {
  background-color: #e3d026;
}

.button-submit:hover {
  background-color: #a29415;
}/*# sourceMappingURL=style.css.map */